@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-family: var(--font-manrope), sans-serif;
  background-color: var(--background);
  color: var(--foreground);

  &::-webkit-scrollbar {
    display: none;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
